@using Library.Models.Command;
@using Library.Models;
@model TeachersTimeCommand
@{
    Layout = null;
}
<h1>
    Weekly Times of Teacher
</h1>
@*<form method="post" id="teachersTime-form">
<div class="Coaches">
    <table class="table">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>
                    00:00<input data-val="true"
                                data-val-required="The isActive field is required."
                                id="isActive"
                                name="isActive"
                                type="checkbox"
                                value="true" />
                    <input name="isActive" type="hidden" value="false" />
                </td>
                <td>00:30</td>
                <td>01:00</td>
                <td>01:30</td>
                <td>02:00</td>
                <td>02:30</td>
                <td>03:00</td>
              <td contenteditable=""></td>

            </tr>
            <tr>
                <td>03:30</td>
                <td>04:00</td>
                <td>04:30</td>
                <td>05:00</td>
                <td>05:30</td>
                <td>06:00</td>
                <td>06:30</td>
            </tr>
            <tr>
                <td>07:00</td>
                <td>07:30</td>
                <td>08:00</td>
                <td>08:30</td>
                <td>09:00</td>
                <td>09:30</td>
                <td>10:00</td>
            </tr>
            <tr>
                <td>10:30</td>
                <td>11:00</td>
                <td>11:30</td>
                <td>12:00</td>
                <td>12:30</td>
                <td>13:00</td>
                <td>13:30</td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>14:30</td>
                <td>15:00</td>
                <td>15:30</td>
                <td>16:00</td>
                <td>16:30</td>
                <td>17:00</td>
            </tr>
            <tr>
                <td>17:30</td>
                <td>18:00</td>
                <td>18:30</td>
                <td>19:00</td>
                <td>19:30</td>
                <td>20:00</td>
                <td>20:30</td>
            </tr>
            <tr>
                <td>21:00</td>
                <td>21:30</td>
                <td>22:00</td>
                <td>22:30</td>
                <td>23:00</td>
                <td>23:30</td>
                <td>00:00</td>
            </tr>
        </tbody>
    </table>
</div>

</form>*@

<script>

    $("#weekly-schedule").data('artsy.dayScheduleSelector').deserialize({
        
      '0': [['09:30', '11:00'], ['13:00', '16:30']]
    
    });
    </script>


